@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.ProviderFeedback.Domain.Extensions
@model SFA.DAS.ProviderFeedback.Web.ViewModels.ProviderFeedbackViewModel
@{
    ViewBag.Vpv = "/feedback/page-index";
    ViewBag.Title = "FeedbackController";
}

@section BackLink
{
    <a esfa-automation="link-back" class="govuk-back-link">Back</a>
}
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Feedback</h1>

            <div asp-show="Model.ShowReviewNotice" class="govuk-notification-banner govuk-!-margin-bottom-4" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Notice
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p>
                        <b>@Model.ReviewNoticeDate:</b> We made changes to how our
                        review scores are calculated.  You may see slightly 
                        different scores than you did before.
            
                    </p>
                </div>
            </div>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Employer reviews</h2>
            <p class="govuk-body-l govuk-!-margin-bottom-4">
                @if (Model.EmployerFeedback.TotalFeedbackRating != 0)
                {
                    <span class="das-rating das-rating--@(Model.EmployerFeedback.TotalFeedbackRating > 2 ? "good" : "poor")" role="img" aria-label="Rating: @Model.EmployerFeedback.TotalFeedbackRating out of 4 stars">
                        <span aria-hidden="true" class="das-rating__icon-star"></span>
                        <span aria-hidden="true" class="das-rating__icon-star@(Model.EmployerFeedback.TotalFeedbackRating < 2 ? "--empty" : "")"></span>
                        <span aria-hidden="true" class="das-rating__icon-star@(Model.EmployerFeedback.TotalFeedbackRating < 3 ? "--empty" : "")"></span>
                        <span aria-hidden="true" class="das-rating__icon-star@(Model.EmployerFeedback.TotalFeedbackRating < 4 ? "--empty" : "")"></span>
                    </span>
                    <span class="govuk-!-font-weight-bold das-rating__label--@(Model.EmployerFeedback.TotalFeedbackRating > 2 ? "good" : "poor")">@Model.EmployerFeedback.TotalFeedbackText.GetDescription()</span>
                }

                @if (Model.EmployerFeedback.TotalFeedbackRating == 0)
                {
                    <span class="govuk-!-font-weight-bold das-rating__label--poor">@Model.EmployerFeedback.TotalFeedbackRatingTextProviderDetail</span>
                }
                else
                {
                    <span class="govuk-body">@Model.EmployerFeedback.TotalFeedbackRatingTextProviderDetail</span>
                }
            </p>


            @if (Model.EmployerFeedback.TotalFeedbackRating != 0)
            {
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Employer review details
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div data-show-hide-panels="true">
                        <div class="app-show-hide-panel" data-panel-label="graph" id="app-emp-feedback-graph">
                            <div id="employer-feedback-graph"></div>
                        </div>
                        <div class="app-show-hide-panel" data-panel-label="table and accessible" id="app-emp-feedback-table">
                            <table class="govuk-table das-table--responsive govuk-!-font-size-16" data-target="employer-feedback-graph" data-label="employers" data-feedback-graph="true">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Statement</th>
                                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage of employers that selected this as a "strength"</th>
                                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage of employers that selected this as "needs improvement"</th>
                                        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total number of employers that selected this statement</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var feedbackItem in Model.EmployerFeedback.FeedbackAttributeSummary)
                                    {
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__cell govuk-!-font-weight-regular" scope="row">@feedbackItem.AttributeName</th>
                                            <td class="govuk-table__cell govuk-table__cell--numeric"
                                                data-label="Percentage of employers that selected this as a strength"
                                                data-title="@feedbackItem.StrengthPerc% of @feedbackItem.TotalCount employers selected this as a 'strength'">
                                                @feedbackItem.StrengthPerc%
                                            </td>
                                            <td class="govuk-table__cell govuk-table__cell--numeric"
                                                data-label="Percentage of employers that selected this as needs improvement"
                                                data-title="@feedbackItem.WeaknessPerc% of @feedbackItem.TotalCount employers selected this as a 'needs improvement'">
                                                @feedbackItem.WeaknessPerc%
                                            </td>
                                            <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Total number of employers that selected this statement">@feedbackItem.TotalCount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </details>
            }

            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Apprentice reviews</h2>
            <p class="govuk-body-l govuk-!-margin-bottom-4">
                @if (Model.ApprenticeFeedback.TotalFeedbackRating != 0)
                {
                    <span class="das-rating das-rating--@(Model.ApprenticeFeedback.TotalFeedbackRating > 2 ? "good" : "poor")" role="img" aria-label="Rating: @Model.ApprenticeFeedback.TotalFeedbackRating out of 4 stars">
                        <span aria-hidden="true" class="das-rating__icon-star"></span>
                        <span aria-hidden="true" class="das-rating__icon-star@(Model.ApprenticeFeedback.TotalFeedbackRating < 2 ? "--empty" : "")"></span>
                        <span aria-hidden="true" class="das-rating__icon-star@(Model.ApprenticeFeedback.TotalFeedbackRating < 3 ? "--empty" : "")"></span>
                        <span aria-hidden="true" class="das-rating__icon-star@(Model.ApprenticeFeedback.TotalFeedbackRating < 4 ? "--empty" : "")"></span>
                    </span>
                    <span class="govuk-!-font-weight-bold das-rating__label--@(Model.ApprenticeFeedback.TotalFeedbackRating > 2 ? "good" : "poor")">@Model.ApprenticeFeedback.TotalFeedbackText.GetDescription()</span>
                }

                @if (Model.ApprenticeFeedback.TotalFeedbackRating == 0)
                {
                    <span class="govuk-!-font-weight-bold das-rating__label--poor">@Model.ApprenticeFeedback.TotalFeedbackRatingTextProviderDetail</span>
                }
                else
                {
                    <span class="govuk-body">@Model.ApprenticeFeedback.TotalFeedbackRatingTextProviderDetail</span>
                }
            </p>

            @if (Model.ApprenticeFeedback.TotalFeedbackRating != 0)
            {
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Apprentice review details
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <div data-show-hide-panels="true">
                        <div class="app-show-hide-panel" data-panel-label="graph" id="app-apprentice-feedback-graph">
                            <div id="apprentice-feedback-graph"></div>
                        </div>
                        <div class="app-show-hide-panel" data-panel-label="table and accessible" id="app-apprentice-feedback-table">
                            @{
                                int categoryCount = 0;
                            }
                            @foreach (var feedbackCategory in Model.ApprenticeFeedback.FeedbackAttributeSummary.GroupBy(s => s.Category).OrderBy(s => s.Key))
                            {
                                <table class="govuk-table das-table--responsive govuk-!-font-size-16 govuk-!-margin-bottom-8" data-target="apprentice-feedback-graph" data-label="apprentices" data-feedback-graph="true" @(categoryCount > 0 ? "data-hide-legend=true" : "")>
                                    <caption class="govuk-table__caption govuk-caption-l govuk-!-font-weight-regular">@feedbackCategory.Key</caption>
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header">Statement</th>
                                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage of apprentices that agreed with this statement</th>
                                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Percentage of apprentices that disagreed with this statement</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        @foreach (var feedbackItem in feedbackCategory)
                                        {
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__cell govuk-!-font-weight-regular" scope="row">@feedbackItem.Name</th>
                                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                                    data-label="Percentage of apprentices that agreed with this statement"
                                                    data-title="@feedbackItem.AgreePerc% of apprentices agreed with this statement">
                                                    @feedbackItem.AgreePerc%
                                                </td>
                                                <td class="govuk-table__cell govuk-table__cell--numeric"
                                                    data-label="Percentage of apprentices that disagreed with this statement"
                                                    data-title="@feedbackItem.DisagreePerc% of apprentices disagreed with this statement">
                                                    @feedbackItem.DisagreePerc%
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                categoryCount++;
                            }
                        </div>
                    </div>
                </div>
            </details>
            }
        </div>
    </div>
</main>